body {
  background-image: url('../public/background.svg');
}

.home {
  margin: 0 auto;
  text-align: center;
}

.home img {
  margin-top: 10%;
  width: 60%;
}

.menu {
  font-size: 3rem;
  font-family: 'Source Code Pro', monospace;
}

.menu a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.menu a:hover {
  color: #353535;
}

.version {
  position: fixed;
  bottom: 1px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  width: 100%;
}

.playContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5rem;
}

.cell {
  background-color: #583C36;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 15px;
  margin: 10px;
}

.gridRow {
  display: flex;
  flex-direction: row;
}

.grid {
  background-color:#48261D;
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  padding: 10px;
}

.enemyGrid {
  background-color:#48261D;
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  padding: 10px;
}

.vs {
  display: flex;
  font-family: 'Source Code Pro', monospace;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
}

.vs img{
  width: 30%;
  height: auto;
}

.keyBoard {
  display: flex;
  width: 570px;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-top: 6%;
}

.keyBoard > div {
  background-color: #BEBEBE;
  width: min-content;
  padding: 5px 12px 5px 12px;
  border-radius: 8px;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5rem;
  margin: 3px;
  text-align: center;
}